{
  "root": true,
  "extends": [
    "airbnb-base",
    "plugin:jasmine/recommended"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "prefer-destructuring": [
      "error",
      {
        "object": false,
        "array": false
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      0,
      "double"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "no-var": [
      1
    ],
    "no-fallthrough": [
      1
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true,
    "mocha": true
  },
  "globals": {
    "logger": true,
    "log4js": true
  },
  "plugins": [
    "json",
    "jasmine",
    "mocha"
  ],
  "parser": "babel-eslint"
}